# Api version (1 = elkulator v1.0, 2 = elkulator v2.0+
api_version = 2
tapespeed = 2
plus1 = 0
plus3 = 0
dfsena = 0
adfsena = 0
defaultwriteprotect = 1
discname_0 = DREAMTME.SSD
turbo = 0
mrb = 0
mrbmode = 2
ulamode = 0
enable_jim = 0
filter = 0
sound_internal = 1
sound_exp = 0
sound_ddnoise = 0
sound_ddvol = 2
sound_ddtype = 1
sound_tape = 0
win_resize = 0
win_aspectratio = 1
win_pixelratio = 0
joy_firstbyte = 0
joy_offset = 0
# Key redefinitions (note only differences from the default keys are stored)
# Cartridge expansions config
enable_mgc = 0
enable_db_flash_cartridge = 0
enable_titlebar_stats = 1
enable_blitting_stats = 0
# Logging level (0 = ERRORS - default, 1 = WARNINGS, 2 = INFO, 3 = DEBUG)
log_level = 0
